.add-style {
  width: 50%;
  justify-content:center;
  border:3px solid #ccc;
  align-items: center;
  margin: 5% 25%;
  background-color: rgb(10, 2, 46);
  color: #fff;

}

.cards-hold h1 {
  text-align: center;
  font-size:20px;
  margin-top: 20px;
}

.add-input {
  padding: 10px;
  margin: 10px 20px;
  width: 95%;
  display: block;
}

.form-labels {
  margin-left: 20px;
  font-weight: bold;

}
.add-title{
  text-align: center;
  font-style: italic;
  color: white;
}

.add-input2 {
  display: flex;
}

.add-form {
  width: 100%;
}

.add-button {
  border:none;
  width: 50%;
  height: 40px;
  border-radius: 20px;
  border-collapse: collapse;
  color: rgb(10, 2, 46);;
  margin-top: 13px;
  background-color: rgb(241, 241, 241);
  margin: 10px 25%;
  
}
.add-button:hover {
  background-color:wheat;
}

@media only screen and (max-width: 500px) {
  .cards-hold {
    font-size: 16px;
    width: 100%;
    width: auto;
    margin-bottom:auto;
    margin-bottom: 80px;
  }
  .add_style {
    width: 10%;
  }
  .add-form {
    width: 350px;
    margin-top: 18px; 
    margin-left: 5px;
  }
  .add-button{
      margin-top: 30px;
  }
}
  